body { 
    background-color: black;
    color: white;
    font-size: 21px;
  }
   
  p {
    color: red; 
  }
  h1 {
    font-size: 50px; 
    color: blue;
  }

  /* the CSS box model */

  /*
     Margin:  empty space around my element
     Border:  a border / stroke / around my element
     Padding: empty space WITH background around my element

     All of these ADD on top of the width and height!
  */  







  .box{
    background-image: url(https://imgs.search.brave.com/FtJ0f51iAzqo8bsJVqsJNiiH-LgnTHdYXOomJwCmL9w/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9idXJz/dC5zaG9waWZ5Y2Ru/LmNvbS9waG90b3Mv/YS1kcm9wLW9mLXBp/bmstYW5kLXllbGxv/dy1wYWludC1pbi13/YXRlci5qcGc_d2lk/dGg9MTAwMCZmb3Jt/YXQ9cGpwZyZleGlm/PTAmaXB0Yz0w);

    margin: 100px;
    border: 10px solid blue;
    padding:  100px;


     }  